.menu-button {
  position: absolute;
  z-index: 3;
  right: 25px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-button .button-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-button.closed {
    transform: rotate(180deg); }
    .menu-button.closed .button-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-button.closed .button-line:nth-child(2) {
      opacity: 0; }
    .menu-button.closed .button-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-profile, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: rgba(49, 48, 49, 0.9);
    list-style: none;
    transform: translate(0, -100%);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate(0, 0); }
  .menu-profile {
    background: rgba(62, 61, 62, 0.9);
    transition: all 0.5s ease-out;
    transform: translate(0, 100%); }
    .menu-profile.show {
      transform: translate(0, 0); }
    .menu-profile .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/Li-greyscaled.jpg");
      opacity: 1;
      background-size: cover;
      background-position: bottom 1px right 1px;
      border-radius: 50%;
      border: solid 3px #eece1a; }
  .menu .nav-item {
    transform: translate(600px, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate(0, 0); }
    .menu .nav-item.current > a {
      color: #eece1a; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #eece1a; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #3e3d3e;
  color: white;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(62, 61, 62, 0.7);
      z-index: -1; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 5rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(67, 66, 67, 0.5);
    width: fit-content; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #eece1a; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #eece1a;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  display: grid;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3" "job4 job5 .";
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 30px; }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: #eece1a 3px solid;
    width: 250px;
    height: 250px;
    object-fit: cover; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job-4 {
    grid-area: job4; }
  .about-info .job-5 {
    grid-area: job5; }
  .about-info .job {
    background: #4b4a4b;
    padding: 0.5rem;
    border-bottom: #eece1a 5px solid; }

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.8rem; }
  .projects img {
    width: 100%;
    height: auto;
    border: 3px #fff solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #eece1a;
      filter: grayscale(0);
      transition: all 0.5s ease-out; }
  .projects .item {
    padding-top: 0.5rem; }
  .projects .project-1 {
    grid-area: project1; }
  .projects .project-2 {
    grid-area: project2; }
  .projects .project-3 {
    grid-area: project3; }
  .projects .project-4 {
    grid-area: project4; }
  .projects .project-5 {
    grid-area: project5; }
  .projects .project-description-1 {
    grid-area: project1desc; }
  .projects .project-description-2 {
    grid-area: project2desc; }
  .projects .project-description-3 {
    grid-area: project3desc; }
  .projects .project-description-4 {
    grid-area: project4desc; }
  .projects .project-description-5 {
    grid-area: project5desc; }
  .projects .text-secondary {
    line-height: 1.2; }

#contact {
  align-items: center;
  text-align: center; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem; }
  .boxes div {
    font-size: 2rem;
    border: 2px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem; }

.button, .button-github, .button-kaggle {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .button:hover, .button-github:hover, .button-kaggle:hover {
    background-color: #eece1a;
    color: #000;
    transition: all 0.5s ease-out; }

.button-github {
  background: #0b0a0b;
  color: #fff; }

.button-kaggle {
  background: #0b0a0b;
  color: #fff; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #242424;
  color: gray;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "project1 project1desc project1desc project1desc" "project2 project2desc project2desc project2desc" "project3 project3desc project3desc project3desc" "project4 project4desc project4desc project4desc" "project5 project5desc project5desc project5desc"; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "project1 project1desc project1desc" "project2 project2desc project2desc" "project3 project3desc project3desc" "project4 project4desc project4desc" "project5 project5desc project5desc"; } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
    main .sm-heading {
      width: auto; }
  ul.menu-nav,
  div.menu-profile {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-profile.show {
      transform: translate(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate(-100%, 0);
    font-size: 24px; }
  .menu-profile {
    height: 25vh;
    transform: translate(100%, 0); }
    .menu-profile .portrait {
      background: url("../img/Li-greyscaled.jpg");
      background-size: cover;
      background-position: bottom 1px right 1px;
      width: 150px;
      height: 150px; }
  .about-info {
    margin-top: 30px;
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3" "job4" "job5";
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: 1fr;
    grid-template-areas: "project1" "project1desc" "project2" "project2desc" "project3" "project3desc" "project4" "project4desc" "project5" "project5desc"; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; } }
