// wide screen
@include mediaXL {
}

// laptops
@include mediaLG {
}

// tablets
@include mediaMD {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-profile {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate(-100%, 0);
    font-size: 24px;
  }

  .menu-profile {
    height: 25vh;
    transform: translate(100%, 0);

    .portrait {
      background: url("../img/Li.jpg");
      background-size: cover;
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }
}

// smartphones
@include mediaSM {
  main#home h1 {
    margin-top: 10vh;
  }
}
