// wide screen
@include mediaXL {
  .projects {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "project6 project6desc project6desc project6desc"
      "project7 project7desc project7desc project7desc"
      "project2 project2desc project2desc project2desc"
      "project3 project3desc project3desc project3desc"
      "project4 project4desc project4desc project4desc"
      "project1 project1desc project1desc project1desc"
      "project5 project5desc project5desc project5desc";
  }
}

// laptops
@include mediaLG {
  .projects {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "project6 project6desc project6desc"
      "project7 project7desc project7desc"
      "project2 project2desc project2desc"
      "project3 project3desc project3desc"
      "project4 project4desc project4desc"
      "project1 project1desc project1desc"
      "project5 project5desc project5desc";
  }
}

// tablets
@include mediaMD {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }

    .sm-heading {
      width: auto;
    }
  }

  ul.menu-nav,
  div.menu-profile {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate(-100%, 0);
    font-size: 24px;
  }

  .menu-profile {
    height: 25vh;
    transform: translate(100%, 0);

    .portrait {
      background: url("../img/Li-greyscaled.jpg");
      background-size: cover;
      background-position: bottom 1px right 1px;
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    margin-top: 30px;
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3"
      "job4"
      "job5";
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: 1fr;

    grid-template-areas:
      "project6"
      "project6desc"
      "project7"
      "project7desc"
      "project2"
      "project2desc"
      "project3"
      "project3desc"
      "project4"
      "project4desc"
      "project1"
      "project1desc"
      "project5"
      "project5desc";
  }
}

// smartphones
@include mediaSM {
  main#home h1 {
    margin-top: 10vh;
  }
}
